extends layout

block content
  h1= title
  form(name="increase",method="post")
    .actions 
      input(type="hidden",name="control",value="increase")
      button.btn.btn-2.btn-sep.icon-send(type="submit",name="increase") increase
  form(name="decrease",method="post")
    .actions 
      input(type="hidden",name="control",value="decrease")
      button.btn.btn-3.btn-sep.icon-minus(type="submit",name="decrease") decrease
  //- button(onclick='increase()') increase 
  //- button(onclick='decrease()') decrease 

