extends layout

block content
  h1= title
  p Welcome to monitoring room 
  script 
    var increase = function(){
      console.log("increase clicked")
    }
  button(onclick='increase()') increase 

