doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script. 
      var increase = function(){
        alert("increase!")
        const response = await fetch("https://4d8lzogr7j.execute-api.ap-southeast-1.amazonaws.com/dev/",{
          method: 'POST',
          body: null,
          headers: {
            'Content-Type': 'application/json'
          }
        });
        const myJson = await response.json();
        alert(myJson)
      }
      var decrease = function(){
        alert("decrease!")
      }
  body
    block content
