doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script. 
      var increase = function(){
        alert("increase!")
      }
      var decrease = function(){
        alert("decrease!")
      }
  body
    block content
